{% extends 'base.html' %}

<!-- Carregando tag para bootstrap em forms -->
{% load crispy_forms_tags %} 

{% load static %}

{% block title %} Submissões {% endblock %}

{% block style %}
    <!-- LIGHTBOX -->
    <link rel="stylesheet" type="text/css" href="{% static 'lightbox2-master/src/css/lightbox.css' %}">


    <!-- TimeLine  -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/timeline/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/timeline/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/timeline/demo.css' %}">

    <!-- Calendar -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/calendar/main.css' %}">


    <!-- Inline Element -->
    <link rel="stylesheet" type="text/css" href="{% static 'jquery-ui/jquery-ui/jquery-ui.min.css' %}">
{% endblock %}

{% block content %}

    <h2>Submissões</h2>

    <br>

    <section class="cd-timeline js-cd-timeline">
        <div class="cd-timeline__container">
            <!-- LISTAGEM DE ARQUIVOS EM TIMELINE -->
            {% for submission in submissions|dictsort:"submission_date" %}
                <div class="cd-timeline__block js-cd-block">
                    <div class="cd-timeline__content js-cd-content"  data-toggle="" data-target="#{{submission.id}}">
                        <form id="formSub" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <!-- Subject -->
                            <h2 class="editable-subject">{{submission.subject.name}}</h2>

                            <input id="id_subject" type="text" name="submission_subject" value="{{submission.subject.id}}">

                            <br>

                            <!-- Necessário para encontrar a submissão que irá receber as informações deste form -->
                            <input hidden name="submission_id" value={{submission.id}} type="text">

                            <!-- Topic -->
                            <h3 id="{{submission.id}}" class="editable-topic"> {{submission.topic}}</h3>

                            <input id="id_topic{{submission.id}}" type="text" name="submission_topic" value=" {{submission.topic}}">
                            
                            <div class="" id="{{submission.id}}">
                                <!-- Description -->
                                <p id="{{submission.id}}"  class="editable-description">{{ submission.description }}</p>

                                <textarea id="id_description{{submission.id}}" name="submission_description" rows="4" cols="50">{{ submission.description }}</textarea>

                                {% for file in submission.files.all %}

                                    <a href="{{MEDIA_URL}}{{file.file_image}}" data-lightbox="roadtrip">
                                        <img class="mt-3 ml-3 mr-3 mb-3 w-25" src="{{MEDIA_URL}}{{file.file_image}}">
                                    </a>
                                
                                {% endfor %}

                            <input id="id_date{{submission_id}}" type="date" name="submission_date" value="{{ submission.submission_date|date:'Y-m-d' }}">


                            <input type="submit" name=btn_aceitar class="btn btn-success" value="Aceitar">
                            <input type="submit" name=btn_rejeitar class="btn btn-danger" value="Rejeitar">
                        </form>

                        <!-- <a href="#0" class="cd-timeline__read-more">Read more</a> -->
                        <span id="{{submission.id}}" class="cd-timeline__date editable-date">{{submission.submission_date}}</span>
                    </div> <!-- cd-timeline__content -->
                </div> <!-- cd-timeline__block -->
            {% endfor %}
        </div>
    </section>


    {% block javascript %}

        <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script> 
        
        <!-- Slide Images -->
        <script src="{% static 'lightbox2-master/src/js/lightbox.js' %}"></script>

        <!-- TimeLine -->
        <script src="{% static 'js/timeline/main.js' %}"></script>

        <!-- In-Place -->
        <script src="{% static 'js/node_modules/jquery-jeditable/dist/jquery.jeditable.min.js' %}"></script>
        <script src="{% static 'js/node_modules/jquery-jeditable/dist/jquery.jeditable.autogrow.min.js' %}"></script>
        <script src="{% static 'js/node_modules/jquery-jeditable/dist/jquery.autogrowtextarea.js' %}"></script>
        
        <script src="{% static 'jquery-ui/jquery-ui/jquery-ui.js' %}"></script>
        <script src="{% static 'js/node_modules/jquery-jeditable/dist/jquery.jeditable.datepicker.min.js' %}"></script>


        <script type="text/javascript">
            $('.editable-subject').editable(function(value, settings){
                
                var subjects = settings["data"];

                var posicao = 0;

                // Obtendo a posição da disciplina do dicionário...
                for (subject in subjects){
                    if (subject == value){
                        console.log(value);
                        $('#id_subject').val(posicao);
                    }
                    posicao ++;
                }

                return value
            }, {
                type: "select",
                data: {{subjects|safe}},
            });

            $('.editable-topic').editable(function(value, settings){
                var id_submission = $(this).attr("id");
                // console.log(array);
                $('#id_topic' + id_submission).val(value)

                return value
            });

            $('.editable-description').editable(function(value, settings){
                var id_submission = $(this).attr("id");
                
                $('#id_description' + id_submission).val(value)

                return value
            },{
                type: "autogrow",
                submit: "OK",
                cancel: 'cancel',
                tooltip: "Clique para editar",
                onblur: "ignore"
            });

            $('.editable-date').editable(function(date, settings){
                var id_submission = $(this).attr("id");

                console.log(date);

                $('#id_date' + id_submission).val(date);

                return date
            }, {
                type: "datepicker",
                submit: "OK",
                datepicker: {
                    format: "mm-dd-yy"
                },
                tooltip: "Clique para Editar"
            });
            
            /* end in-places*/

            $(function () {
            $('[data-toggle="popover"]').popover()
            });

            lightbox.option({
                'resizeDuration': 10,
                'wrapAround': false
            });


        </script>

    {% endblock %}
    
{% endblock %}